{% load static %}
<!DOCTYPE html>
<html lang="">
  <head>
    <script src="https://unpkg.com/ag-grid/dist/ag-grid.min.noStyle.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/ag-grid/dist/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid/dist/styles/ag-theme-balham.css">
    <link rel="stylesheet" href="{% static 'build/static/css/close.css' %}">
    <style>
      #container {
        max-width: 1250px;
        width: 100%;
        height: 100%;
        margin: 0px auto;
        margin-top: 30px;
      }
    </style>
  </head>
  <body>
      <div id="data-grid" class="ag-theme-balham" style="height: 600px; width: 100%;"></div>
    </div>
    <script type="text/javascript" charset="utf-8">
      document.addEventListener('DOMContentLoaded', function() {
        const numberFilterParams = {
          filterParams: {
            suppressAndOrCondition: true,
          },
        };

        var columnDefs = [
          { headerName: "Description", field: "description", filter: "agTextColumnFilter" },
          { headerName: "Category", field: "category", filter: "agTextColumnFilter" },
          { headerName: "Price", field: "price", filter: "agNumberColumnFilter", ...numberFilterParams },
          { headerName: "Stock Quantity", field: "stock_quantity", filter: "agNumberColumnFilter", ...numberFilterParams },
          { headerName: "Rating", field: "rating", filter: "agNumberColumnFilter", ...numberFilterParams },
        ];

        var gridOptions = {
          columnDefs: columnDefs,
          defaultColDef: {
            filterParams: {
              suppressAndOrCondition: true,
            },
          },
          rowModelType: "infinite",
          cacheBlockSize: 100,
          maxBlocksInCache: 10,
        };

        var dataSource = {
          getRows: function (params) {
            var filtering = encodeURIComponent(JSON.stringify(params.filterModel));
            var sorting = encodeURIComponent(JSON.stringify(params.sortModel));
            var startRow = params.startRow;
            var endRow = params.endRow;

            var url = `/products?startRow=${startRow}&endRow=${endRow}&filter=${filtering}&sort=${sorting}`;

            fetch(url)
              .then((response) => response.json())
              .then((data) => {
                params.successCallback(data.rows, data.totalRows);
              })
              .catch((err) => {
                params.failCallback();
              });
          },
        };

        var gridDiv = document.querySelector("#data-grid");
        new agGrid.Grid(gridDiv, gridOptions);
        gridOptions.api.setDatasource(dataSource);
        gridOptions.api.sizeColumnsToFit();
      });
    </script>
  </body>
</html>